# This is Git's per-user configuration file.
[user]
	email = 71482036+spephton@users.noreply.github.com
	name = Jacob Sephton
# Please adapt and uncomment the following lines:
#	name = Jacob Sephton
#	email = redacted@spephton.net
